<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Selecting-Data-for-Modeling" data-toc-modified-id="Selecting-Data-for-Modeling-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Selecting Data for Modeling</a></span></li><li><span><a href="#SREE'S-FIRST-ATTEMPT!!!-27-NOV-2021-10:40-PM" data-toc-modified-id="SREE'S-FIRST-ATTEMPT!!!-27-NOV-2021-10:40-PM-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>SREE'S FIRST ATTEMPT!!! 27 NOV 2021 10:40 PM</a></span><ul class="toc-item"><li><span><a href="#Selecting-The-Prediction-Target" data-toc-modified-id="Selecting-The-Prediction-Target-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Selecting The Prediction Target</a></span></li></ul></li><li><span><a href="#Choosing-&quot;Features&quot;" data-toc-modified-id="Choosing-&quot;Features&quot;-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Choosing "Features"</a></span></li><li><span><a href="#Building-Your-Model" data-toc-modified-id="Building-Your-Model-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Building Your Model</a></span></li><li><span><a href="#Your-Turn" data-toc-modified-id="Your-Turn-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Your Turn</a></span></li></ul></div>

# Selecting Data for Modeling
Your dataset had  too many variables to wrap your head around, or even to print out nicely.  How can you pare down this overwhelming amount of data to something you can understand?

We'll start by picking a few variables using our intuition. Later courses will show you statistical techniques to automatically prioritize variables.

To choose variables/columns, we'll need to see a list of all columns in the dataset. That is done with the **columns** property of the DataFrame (the bottom line of code below).

In [1]:
import pandas as pd

melbourne_file_path = 'melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

# SREE'S FIRST ATTEMPT!!! 27 NOV 2021 10:40 PM

In [2]:
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [3]:
melbourne_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Rooms,13580.0,2.937997e+00,0.955748,1.00000,2.000000,3.000000,3.000000e+00,1.000000e+01
Price,13580.0,1.075684e+06,639310.724296,85000.00000,650000.000000,903000.000000,1.330000e+06,9.000000e+06
Distance,13580.0,1.013778e+01,5.868725,0.00000,6.100000,9.200000,1.300000e+01,4.810000e+01
Postcode,13580.0,3.105302e+03,90.676964,3000.00000,3044.000000,3084.000000,3.148000e+03,3.977000e+03
Bedroom2,13580.0,2.914728e+00,0.965921,0.00000,2.000000,3.000000,3.000000e+00,2.000000e+01
Bathroom,13580.0,1.534242e+00,0.691712,0.00000,1.000000,1.000000,2.000000e+00,8.000000e+00
Car,13518.0,1.610075e+00,0.962634,0.00000,1.000000,2.000000,2.000000e+00,1.000000e+01
Landsize,13580.0,5.584161e+02,3990.669241,0.00000,177.000000,440.000000,6.510000e+02,4.330140e+05
BuildingArea,7130.0,1.519676e+02,541.014538,0.00000,93.000000,126.000000,1.740000e+02,4.451500e+04
YearBuilt,8205.0,1.964684e+03,37.273762,1196.00000,1940.000000,1970.000000,1.999000e+03,2.018000e+03
Lattitude,13580.0,-3.780920e+01,0.079260,-38.18255,-37.856822,-37.802355,-3.775640e+01,-3.740853e+01
Longtitude,13580.0,1.449952e+02,0.103916,144.43181,144.929600,145.000100,1.450583e+02,1.455264e+02
Propertycount,13580.0,7.454417e+03,4378.581772,249.00000,4380.000000,6555.000000,1.033100e+04,2.165000e+04

In [4]:
melbourne_data.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [5]:
melbourne_data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [7]:
melbourne_data.dropna(axis=0, inplace=True) # axis=0 rows
melbourne_data.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [9]:
y = melbourne_data.Price
type(y)

pandas.core.series.Series

In [21]:
# X = melbourne_data.drop("Price",axis=1)

melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude','Car','Bedroom2']

X = melbourne_data[melbourne_features]
X

       Rooms  Bathroom  Landsize  Lattitude  Longtitude  Car  Bedroom2
1          2       1.0     156.0  -37.80790   144.99340  0.0       2.0
2          3       2.0     134.0  -37.80930   144.99440  0.0       3.0
4          4       1.0     120.0  -37.80720   144.99410  2.0       3.0
6          3       2.0     245.0  -37.80240   144.99930  0.0       4.0
7          2       1.0     256.0  -37.80600   144.99540  2.0       2.0
...      ...       ...       ...        ...         ...  ...       ...
12205      3       2.0     972.0  -37.51232   145.13282  1.0       3.0
12206      3       1.0     179.0  -37.86558   144.90474  0.0       3.0
12207      1       1.0       0.0  -37.85588   144.89936  1.0       1.0
12209      2       1.0       0.0  -37.85581   144.99025  1.0       2.0
12212      6       3.0    1087.0  -37.81038   144.89389  2.0       6.0

[6196 rows x 7 columns]

In [22]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0)
from sklearn.model_selection import cross_val_score
# cross_val_score(regressor, X, y, cv=10)
regressor.fit(X, y)
print(regressor.predict(X.head()))
print(y.head())

[1035000. 1465000. 1600000. 1876000. 1636000.]
1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [25]:
from sklearn.metrics import mean_absolute_error
predicted_home_prices = regressor.predict(X)
mean_absolute_error(y, predicted_home_prices)

862.6802238003012

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=0)
dc = DecisionTreeRegressor(random_state=0)
dc.fit(X_train, y_train)
predictions = dc.predict(X_test)
mean_absolute_error(y_test, predictions)

267183.7180976974

In [34]:
def get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test):
    dc = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    dc.fit(X_train, y_train)
    predictions = dc.predict(X_test)
    return(mean_absolute_error(y_test, predictions))

get_mae(100, X_train, X_test, y_train, y_test)

271188.35240587016

In [38]:
for max_leaf_nodes in [2,5, 50, 500, 5000,50000]:
    mae = get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test)
    print("Nodes: %d\t\t Error: %d" %(max_leaf_nodes, mae))

Nodes: 2		 Error: 439583
Nodes: 5		 Error: 385696
Nodes: 50		 Error: 278240
Nodes: 500		 Error: 261449
Nodes: 5000		 Error: 272736
Nodes: 50000		 Error: 272736

In [ ]:
# The Melbourne data has some missing values (some houses for which some variables weren't recorded.)
# We'll learn to handle missing values in a later tutorial.  
# Your Iowa data doesn't have missing values in the columns you use. 
# So we will take the simplest option for now, and drop houses from our data. 
# Don't worry about this much for now, though the code is:

# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

There are many ways to select a subset of your data. The [Pandas course](https://www.kaggle.com/learn/pandas) covers these in more depth, but we will focus on two approaches for now.

1. Dot notation, which we use to select the "prediction target"
2. Selecting with a column list, which we use to select the "features" 

## Selecting The Prediction Target 
You can pull out a variable with **dot-notation**.  This single column is stored in a **Series**, which is broadly like a DataFrame with only a single column of data.  

We'll use the dot notation to select the column we want to predict, which is called the **prediction target**. By convention, the prediction target is called **y**. So the code we need to save the house prices in the Melbourne data is

In [ ]:
y = melbourne_data.Price

# Choosing "Features"
The columns that are inputted into our model (and later used to make predictions) are called "features." In our case, those would be the columns used to determine the home price. Sometimes, you will use all columns except the target as features. Other times you'll be better off with fewer features. 

For now, we'll build a model with only a few features. Later on you'll see how to iterate and compare models built with different features.

We select multiple features by providing a list of column names inside brackets. Each item in that list should be a string (with quotes).

Here is an example:

In [ ]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

By convention, this data is called **X**.

In [ ]:
X = melbourne_data[melbourne_features]

Let's quickly review the data we'll be using to predict house prices using the `describe` method and the `head` method, which shows the top few rows.

In [ ]:
X.describe()

In [ ]:
X.head()

Visually checking your data with these commands is an important part of a data scientist's job.  You'll frequently find surprises in the dataset that deserve further inspection.

---
# Building Your Model

You will use the **scikit-learn** library to create your models.  When coding, this library is written as **sklearn**, as you will see in the sample code. Scikit-learn is easily the most popular library for modeling the types of data typically stored in DataFrames. 

The steps to building and using a model are:
* **Define:** What type of model will it be?  A decision tree?  Some other type of model? Some other parameters of the model type are specified too.
* **Fit:** Capture patterns from provided data. This is the heart of modeling.
* **Predict:** Just what it sounds like
* **Evaluate**: Determine how accurate the model's predictions are.

Here is an example of defining a decision tree model with scikit-learn and fitting it with the features and target variable.

In [ ]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

Many machine learning models allow some randomness in model training. Specifying a number for `random_state` ensures you get the same results in each run. This is considered a good practice. You use any number, and model quality won't depend meaningfully on exactly what value you choose.

We now have a fitted model that we can use to make predictions.

In practice, you'll want to make predictions for new houses coming on the market rather than the houses we already have prices for. But we'll make predictions for the first few rows of the training data to see how the predict function works.

In [ ]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

# Your Turn
Try it out yourself in the **[Model Building Exercise](https://www.kaggle.com/kernels/fork/1404276)**

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-machine-learning/discussion) to chat with other learners.*